{% extends "base.html" %}
{% block content %}

<a href="#" class="btn btn-primary btn-sm" onclick="history.back(); return false;">Back</a>
  <br>
  <br>

<h1>Add Short Answer Question</h1>
<div class="new-question">
    <form method="POST" action="">
        {{form.csrf_token}}

        <input type="hidden" name="category" value="{{ category }}">
        <p>
            <div>{{ form.question.label }}</div>
            <div>{{ form.question }}</div>

        </p>
        <p>
            <div>{{ form.correct_ans.label }} </div>
            <div>{{ form.correct_ans }}</div>
        </p>
        <p>
            <div>{{ form.feedback_correct.label }} </div>
            <div>{{ form.feedback_correct }}</div>
        </p>
        <p>
            <div>{{ form.feedback_wrong.label }} </div>
            <div>{{ form.feedback_wrong }}</div>
        </p>
        <p>
            <div>{{ form.marks.label }}</div>
            <div>{{ form.marks }}</div>
        </p>
        {# <p>{{form.submit}}</p> #}
        <p><input class="btn btn-info" type="submit" value="Add"></p>
    </form>
</div>


{% endblock content %}