{% extends "base.html" %}
{% block content %}

<a href="#" class="btn btn-primary btn-sm" onclick="history.back(); return false;">Back</a>
  <br>
  <br>

<h1>Add Multiple Question</h1>
<div class="new-question">
    <form method="POST" action="">

        {{form.csrf_token}}

        <input type="hidden" name="category" value="{{ category }}">

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <p>
            <div>{{ form.question.label }}</div>
            <div>{{ form.question }}</div>
            {% for error in form.question.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <div>{{ form.choice_1.label }} </div>
            <div>{{ form.choice_1 }}</div>
            {% for error in form.choice_1.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <div>{{ form.choice_feedback_1.label }} </div>
            <div>{{ form.choice_feedback_1 }}</div>
        </p>
        <p>
            <div>{{ form.choice_2.label }} </div>
            <div>{{ form.choice_2 }}</div>
            {% for error in form.choice_2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <div>{{ form.choice_feedback_2.label }} </div>
            <div>{{ form.choice_feedback_2 }}</div>
        </p>
        <p>
            <div>{{ form.choice_3.label }} </div>
            <div>{{ form.choice_3 }}</div>
            {% for error in form.choice_3.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <div>{{ form.choice_feedback_3.label }} </div>
            <div>{{ form.choice_feedback_3 }}</div>
        </p>
        <p>
            <div>{{ form.choice_4.label }} </div>
            <div>{{ form.choice_4 }}</div>
            {% for error in form.choice_4.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            <div>{{ form.choice_feedback_4.label }} </div>
            <div>{{ form.choice_feedback_4 }}</div>
        </p>
        <p>
            <div>{{ form.correct_choice.label }} </div>
            <div>{{ form.correct_choice }}</div>
        </p>
        <p>
            <div>{{ form.difficulty.label }} </div>
            <div>{{ form.difficulty }}</div>
        </p>
        <p>
            <div>{{ form.marks.label }} </div>
            <div>{{ form.marks }}</div>
        </p>
        {# <p>{{form.submit}}</p> #}
        <p><input class="btn btn-info" type="submit" value="Add"></p>
    </form>
</div>

{% endblock content %}