{% set active_page = "assessments" %}
{% extends "base.html" %}
{% block content %}
<div class="outer-container">
    <div class="btn ">
        <a href="{{url_for('course', course_id=assessment.course.id)}}">< {{assessment.course.number}} - {{ assessment.course.name}}</a>
    </div>
    <div class="secondary-title">Assessment Attempt</div>
    <div class="third-title">{{assessment.template.name}}</div>
    <div class="inner-container">
        <div>Course: {{assessment.course.number}} - {{ assessment.course.name}} </div>
        <div>Description: {{ assessment.template.description }}</div>
        <div>Formative: {{assessment.is_formative }}</div>
        <div>Start: {{assessment.start_at.date() }}</div>
        <div>End: {{assessment.end_at.date() }}</div>
    </div>
    <div class="third-title">Quesions</div>
    <div class="inner-container">
        {% if assessment.template.mc_questions == [] %}
            <div>No Multiple Choice Question yet</div>
        {% else %}
            {% for question in assessment.template.mc_questions %}
                <div>Multiple Choice Q{{ loop.index }}</div>
                <div class="tab row">
                    <div>
                        <div>{{ question.question }}</div>
                        <ol type="A">
                            <li>
                                <div>{{ question.choice_1 }}</div>
                            </li>
                            <li>
                                <div>{{ question.choice_2 }}</div>
                            </li>
                            <li>
                                <div>{{ question.choice_3 }}</div>
                            </li>
                            <li>
                                <div>{{ question.choice_4 }}</div>
                            </li>
                        </ol>
                    </div>
                    <div>
                        {% if mc_answers[loop.index-1] %}
                            Selected Answer: {{ mc_id_char[mc_answers[loop.index-1].answer_choice_id] }}
                        {% else %}
                            Not yet answered
                        {% endif %}
                        <form method="POST" action="{{ url_for('assessment_attempt_mc', attempt_id=attempt_id, question_id=question.id) }}">
                            {{ mc_forms[loop.index-1].csrf_token }}
                            {{ mc_forms[loop.index-1].answer(value=mc_answers[loop.index-1].answer_choice_id) }}
                            <button type="submit" name="form-{{ question.id }}-submit">Save</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if assessment.template.st_questions == [] %}
            <div>No Short Question yet</div>
        {% else %}
            {% for question in assessment.template.st_questions %}
                <div>Short Q{{ loop.index }}</div>
                <div class="tab row">
                    <div>
                        <div class="question-container">
                            <div>{{ question.question }} </div>
                        </div>
                    </div>
                    <div>
                        {% if st_answers[loop.index-1] %}
                            Written Answer: {{st_answers[loop.index-1].answer}}
                        {% else %}
                            Not yet answered
                        {% endif %}
                        <form method="POST" action="{{ url_for('assessment_attempt_st', attempt_id=attempt_id, question_id=question.id) }}">
                            {{ st_forms[loop.index-1].csrf_token }}
                            {{ st_forms[loop.index-1].answer(value=st_answers[loop.index-1].answer) }}
                            <button type="submit" name="form-{{ question.id }}-submit">Save</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" action="{{url_for('assessment_submit', attempt_id=attempt_id)}}">
            <button class="btn btn-info" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}