{% set active_page = "assessments" %}
{% extends "base.html" %}
{% block content %}
<div class="outer-container">
    <div class="btn ">
        <a href="{{url_for('course', course_id=assessment.course.id)}}">< {{assessment.course.number}} - {{ assessment.course.name}}</a>
    </div>
    <h1>Assessment Details</h1>
    <div>Assessment: {{assessment.template.name}}</div>
    <div class="inner-container">
        <div>Course: {{assessment.course.number}} - {{ assessment.course.name}} </div>
        <div>Description: {{ assessment.template.description }}</div>
        <div>Mode: {{ "Formative" if assessment.is_formative else "Summative"}}</div>
        <div>Start: {{assessment.start_at.date() }}</div>
        <div>End: {{assessment.end_at.date() }}</div>
        <div>Total Marks: {{ assessment.template.total_marks }}</div>
    </div>
    <br>
    <h2>Quesions</h2>
    <div class="inner-container">
        {% if assessment.template.mc_questions == [] %}
            <div>No Multiple Choice Question yet</div>
        {% else %}
            {% for question in assessment.template.mc_questions %}
                <div class="card card-body">
                    <div class="d-flex flex-row">
                        <div class="font-weight-bold">Multiple Choice Q{{ loop.index }}</div>
                        <div class="ml-1">({{question.marks}} marks)</div>
                    </div>
                    <div class="tab">
                        <div>{{ question.question }}</div>
                        <div>Correct Choice: {{ mc_id_char[question.correct_choice_id] }}</div>
                        <ol type="A">
                            <li>
                                <div>{{ question.choice_1 }}</div>
                                <div>Feedback: {{ question.choice_feedback_1 }}</div>
                            </li>
                            <li>
                                <div>{{ question.choice_2 }}</div>
                                <div>Feedback: {{ question.choice_feedback_2 }}</div>
                            </li>
                            <li>
                                <div>{{ question.choice_3 }}</div>
                                <div>Feedback: {{ question.choice_feedback_3 }}</div>
                            </li>
                            <li>
                                <div>{{ question.choice_4 }}</div>
                                <div>Feedback: {{ question.choice_feedback_4 }}</div>
                            </li>
                        </ol>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    <div class="short-questions">
        {% if assessment.template.st_questions == [] %}
            <div>No Short Question yet</div>
        {% else %}
            {% for question in assessment.template.st_questions %}
                <div class="card card-body">
                    <div class="d-flex flex-row">
                            <div class="font-weight-bold">Short Q{{ loop.index }}</div>
                            <div class="ml-1">({{question.marks}} marks)</div>
                        </div>
                    <div class="tab">
                        <div class="question-container">
                            <div>{{ question.question }} </div>
                            <div>Correct Answer: {{ question.correct_ans }} </div>
                            <div>Feedback(Correct): {{ question.feedback_correct }}</div>
                            <div>Feedback(Wrong): {{ question.feedback_wrong }} </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}