{% set active_page = "courses" %}
{% extends "base.html" %}
{% block content %}
    {% if courses == [] %}
        <div>no course yet</div>
    {% else %}
        <div class="row flex-row flex-nowrap">
        {% for course in courses %}
                <div class="col-4">
                    <div class="card h-100">
                        <div class="card card-body">
                            <div class="card-title">{{course.number}} {{course.name}}</div>
                            <div class="card-text">{{course.description}}</div>
                            <br>
                            <a href="{{url_for('course', course_id=course.id)}}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>   
        {% endfor %}
        </div>
    {% endif%}
<div class="new-course">
    <div class="card-title">Add Course</div>
    <form method="POST" action="">
        {{form.csrf_token}}
        <p>
            <div>{{ form.number.label }}</div>
            <div>{{ form.number }}</div>
        </p>
        <p>
            <div>{{ form.name.label }} </div>
            <div>{{ form.name }}</div>
        </p>
        <p>
            <div>{{ form.description.label }} </div>
            <div>{{ form.description }}</div>
        </p>
        <p>
            <div>{{ form.programme_id.label }} </div>
            <div>{{ form.programme_id }}</div>
        </p>

        <!-- <p><input class="btn btn-info" type="submit" value="Add"></p> -->
        <p>{{form.submit}}</p>
    </form>
</div>
{% endblock content %}