{% set active_page = "courses" %} {% extends "base.html" %} {% block content %}
<div class="outer-container">
    <div class="btn ">
        <a href="{{url_for('courses')}}">< All Courses</a>
    </div>
    <h1 class="main-title">{{ course.number }} {{course.name}}</h1>
    <div>Department: {{course.programme.department.name}}</div>
    <div>Programme: {{course.programme.name}}</div>
    <div>Description:</div>
    <div class="tab">{{ course.description }}</div>
    <br>
    <div class="inner-container">
        <h2>Assessments</h2>
        {% if course.assessments == [] %}
            <div>No Assessment Yet</div>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Assessment</th>
                        <th>Mode</th>
                        <th>Stage</th>
                        <th>Shart</th>
                        <th>End</th>
                        {% if user.student %}
                            <th>Status</th>
                        {% endif %}
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in course.assessments %}
                        <tr>
                            <td>{{ assessment.template.name }} </td>
                            {% if assessment.is_formative %}
                                <td>Formative</td>
                            {% else %}
                                <td>Summative</td>
                            {% endif %}
                            {% if assessment.start_at.date() > datetime.now().date() %} {# assessment havnt start yet #}
                                <td>Upcoming</td>
                                <td>{{assessment.start_at.date()}}</td>
                                <td>{{assessment.end_at.date()}}</td>
                                {# {% if assessment.start_at.date() > datetime.now().date() %} assessment havnt start yet #}
                                <td>
                                    <form method="POST" action="{{ url_for('assessment_delete', assessment_id=assessment.id, course_id=course.id) }}">
                                        <button class="btn btn-link text-decoration-none text-primary" type="submit">Delete</button>
                                    </form>
                                </td>
                                        {# {% endif %} #}
                            {% elif assessment.end_at.date() < datetime.now().date() %} {# assessment aleady ended#}
                                <td>Ended</td>
                                <td>{{assessment.start_at.date()}}</td>
                                <td>{{assessment.end_at.date()}}</td>
                                {% if user.student and not assessment_attempts|length == 0 %}
                                    {% if assessment_attempts[loop.index-1].is_submitted%}
                                        <td>Submitted</td>
                                        <td><a href="{{ url_for('assessment_result', assessment_id=assessment.id, attempt_id=assessment_attempts[loop.index-1].id) }}">View</a></td>
                                    {% else %}
                                        <td>Incomplete</td>
                                    {% endif %}
                                {% elif user.teacher %}
                                    <td>
                                        <a href="{{ url_for('assessment_view', assessment_id=assessment.id) }}">View Assessment</a>
                                        <a cllass="ml-3" href="{{ url_for('assessment_results', assessment_id=assessment.id) }}">View Student {{"Attempts" if assessment.is_formative else "Results"}}</a>
                                    </td>
                                {% endif %}
                            {% else %} {# assessment is ongoing #}
                                <td>Ongoing</td>
                                <td>{{assessment.start_at.date()}}</td>
                                <td>{{assessment.end_at.date()}}</td>
                                {% if user.student and not assessment_attempts|length == 0%}
                                    {% if not assessment_attempts[loop.index-1] %}
                                        <td>Not Started</td>
                                        <td><a href="{{ url_for('assessment_attempt', assessment_id=assessment.id, attempt_id=0) }}">Start</a></td> {# no student attemp record #}
                                    {% else %}
                                        {% if assessment_attempts[loop.index-1].is_submitted %}
                                            {% if assessment.is_formative %}
                                                <td>Submitted</td>
                                                <td><a href="{{ url_for('assessment_result', assessment_id=assessment.id, attempt_id=assessment_attempts[loop.index-1].id) }}">View</a>
                                                    <a href="{{ url_for('assessment_attempt', assessment_id=assessment.id, attempt_id=0) }}">Redo</a>
                                                </td>
                                            {% else %}
                                                {% if assessment_attempts[loop.index-1].result_is_confirmed %}
                                                    <td>Marked</td>
                                                    <td><a href="{{ url_for('assessment_result', assessment_id=assessment.id, attempt_id=assessment_attempts[loop.index-1].id) }}">View</a></td>
                                                {% else %}
                                                    <td>Submitted</td>
                                                    <td>-</td>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <td>In Progress</td>
                                            <td><a href="{{ url_for('assessment_attempt', assessment_id=assessment.id, attempt_id=assessment_attempts[loop.index-1].id) }}">Continue</a></td>
                                        {% endif %}
                                    {% endif %} 
                                {% elif user.teacher %}
                                    <td>
                                        <a class="" href="{{ url_for('assessment_view', assessment_id=assessment.id) }}">View Assessment</a>
                                        <a cllass="ml-3" href="{{ url_for('assessment_results', assessment_id=assessment.id) }}">View Student {{"Attempts" if assessment.is_formative else "Results"}}</a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if user.teacher %}
            <div class="btn btn-info">
                <a href="{{url_for('template_select', course_id=course.id)}}">Add Assessment</a>
            </td>
        {% endif %}
    </div>
</div>

{% endblock content %}