{% set active_page = "courses" %}
{% extends "base.html" %}
{% block content %}
<div class="outer-container">
    {% if user.student %}
        <div class="secondary-title">{{user.student.programme.name}}</div>
    {% endif %}
    <div class="inner-container">
        {% if user.teacher %}
            <h1>Courses Teaching:</h1>
        {% elif user.student %}
            <h1>Courses Taking:</h1>
        {% endif %}
        {% if courses == [] %}
            <div>no course yet</div>
        {% else %}
            <div class="row flex-row flex-nowrap">
                {% for course in courses %}
                    <div class="col-4">
                        <div class="h-100">
                            <div class="card card-body">
                                <div class="card-title">{{course.number}} {{course.name}}</div>
                                <div class="card-text">{{course.description}}</div>
                                <a href="{{url_for('course', course_id=course.id)}}" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif%}
    </div>
    {% if user.teacher %}
        <div class="inner-container">
            <br>
            <h3>Add New Course</h3>
            <form class="ml-3 tab" method="POST" action="">
                {{form.csrf_token}}
                <p>
                    <div>{{ form.number.label }}</div>
                    <div>{{ form.number }}</div>
                </p>
                <p>
                    <div>{{ form.name.label }} </div>
                    <div>{{ form.name }}</div>
                </p>
                <p>
                    <div>{{ form.description.label }} </div>
                    <div>{{ form.description }}</div>
                </p>
                <p>
                    <div>{{ form.programme_id.label }} </div>
                    <div>{{ form.programme_id }}</div>
                </p>
                <p>
                    <div>{{form.submit}}</div>
                </p>
            </form>
        </div>
    {% endif %}
</div>
{% endblock content %}