{% extends 'base.html' %}

{% block content %}

  <a href="#" class="btn btn-primary btn-sm" onclick="history.back(); return false;">Back</a>
  <br>
  <br>
  <h2>Edit Multiple-Choice Question</h2>
  <hr>
  <form method="POST" action="{{ url_for('edit_mc_question', question_id=question.id) }}">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.question.label() }}
        {{ form.question(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.feedback.label() }}
        {{ form.feedback(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_1.label() }}
        {{ form.choice_1(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_feedback_1.label() }}
        {{ form.choice_feedback_1(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_2.label() }}
        {{ form.choice_2(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_feedback_2.label() }}
        {{ form.choice_feedback_2(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_3.label() }}
        {{ form.choice_3(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_feedback_3.label() }}
        {{ form.choice_feedback_3(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_4.label() }}
        {{ form.choice_4(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.choice_feedback_4.label() }}
        {{ form.choice_feedback_4(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.correct_choice.label() }}
        {{ form.correct_choice(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.marks.label() }}
        {{ form.marks(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.difficulty.label() }}
        {{ form.difficulty(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{{ url_for('questions') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
