<!-- Andy part -->
{% set active_page = 'question_bank'%}
{% extends "base.html" %}
{% block content %}

<ul class="nav nav-tabs" id="questionBankTabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#questions">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#categories">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#import">Import</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#export">Export</a>
  </li>
</ul>

<br>


<div class="tab-content">
  <div id="questions" class="tab-pane active">
    <!-- Content for the "Questions" tab goes here -->
    <h1>Question bank</h1>
Select a category:

<select class="form-select" aria-label="Default select example">
  {% for category in categories %}
  <option>{{ category.name }}</option>
  {% endfor %}
</select>
All questions about the {Category}

No tag filters applied 
<select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Filter by tags</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Show question text in the question list
  </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Also show questions for catogories 
    </label>
  </div>


<div class="col-auto">

  <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#questionTypeModal">Create a new question...</button>
   
</div>

{% with question_types=question_types %}
  {% include 'question_type_popup.html' %}
{% endwith %}


<br>

<h2 id="mcquestion">Multiple Choice Question</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th> <!-- New column for buttons -->
        <th>ID</th>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      {% for question in mc_questions %}
        <tr>
          <td><input type="checkbox" class="form-check-input"></td> <!-- Bootstrap checkbox -->
          <td>{{ question.id }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.choice_1 }}, {{ question.choice_2 }}, {{ question.choice_3 }}, {{ question.choice_4 }}</td>
          <td><a href="{{ url_for('edit_mc_question', question_id=question.id) }}" class="btn btn-primary">Edit</a></td> <!-- Edit button -->
          <td><a href="{{ url_for('delete_mc_question', question_id=question.id) }}"
            class="btn btn-danger delete-question-button"
            data-toggle="modal"
            data-target="#confirmDeleteModal"
            data-question-id="{{ question.id }}">Delete</a></td> <!-- Delete button -->
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    {% if mc_questions.has_prev %}
      <a href="{{ url_for('questions', mc_page=mc_questions.prev_num, _anchor='mcquestion') }}" class="page-link">&laquo;</a>
    {% else %}
      <span class="page-link">&laquo;</span>
    {% endif %}
    {% for page_num in mc_questions.iter_pages() %}
      {% if page_num %}
        {% if page_num == mc_questions.page %}
          <span class="page-link">{{ page_num }}</span>
        {% else %}
          <a href="{{ url_for('questions', mc_page=page_num, _anchor='mcquestion') }}" class="page-link">{{ page_num }}</a>
        {% endif %}
      {% else %}
        <span class="page-link">...</span>
      {% endif %}
    {% endfor %}
    {% if mc_questions.has_next %}
      <a href="{{ url_for('questions', mc_page=mc_questions.next_num, _anchor='mcquestion') }}" class="page-link">&raquo;</a>
    {% else %}
      <span class="page-link">&raquo;</span>
    {% endif %}
  </div>

  <br>

  <h2 id="stquestion">Short Question</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th> <!-- New column for buttons -->
          <th>ID</th>
          <th>Question</th>
          <th>Answer</th>
        </tr>
      </thead>
      <tbody>
        {% for question in st_questions %}
          <tr>
            <td><input type="checkbox" class="form-check-input"></td> <!-- Bootstrap checkbox -->
            <td>{{ question.id }}</td>
            <td>{{ question.question }}</td>
            <td>{{ question.correct_ans }}</td>
            <td><a href="{{ url_for('edit_st_question', question_id=question.id) }}" class="btn btn-primary">Edit</a></td> <!-- Edit button -->
            <td><a href="{{ url_for('delete_st_question', question_id=question.id) }}"
              class="btn btn-danger delete-question-button"
              data-toggle="modal"
              data-target="#confirmDeleteModal"
              data-question-id="{{ question.id }}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  <div class="pagination">
    {% if st_questions.has_prev %}
      <a href="{{ url_for('questions', st_page=st_questions.prev_num, _anchor='stquestion') }}" class="page-link">&laquo;</a>
    {% else %}
      <span class="page-link">&laquo;</span>
    {% endif %}
    {% for page_num in st_questions.iter_pages() %}
      {% if page_num %}
        {% if page_num == st_questions.page %}
          <span class="page-link">{{ page_num }}</span>
        {% else %}
          <a href="{{ url_for('questions', st_page=page_num, _anchor='stquestion') }}" class="page-link">{{ page_num }}</a>
        {% endif %}
      {% else %}
        <span class="page-link">...</span>
      {% endif %}
    {% endfor %}
    {% if st_questions.has_next %}
      <a href="{{ url_for('questions', st_page=st_questions.next_num, _anchor='stquestion') }}" class="page-link">&raquo;</a>
    {% else %}
      <span class="page-link">&raquo;</span>
    {% endif %}
  </div>
  </div>
  <div id="categories" class="tab-pane">
    <!-- Content for the "Categories" tab goes here -->
    <h1>Category</h1>

    <div class="col-auto">
      <a href="{{ url_for('category_add') }}" class="btn btn-success mb-3">Add new category</a>
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Number of Questions</th>
            <th scope="col">Select Action</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td><input type="text" class="form-control" value="{{ category.name }}"></td>
            <td>5</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Edit</a>
                  <a class="dropdown-item" href="#">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
          <!-- Add more rows here -->
        </tbody>
      </table>  

  </div>
  </div>
  <div id="import" class="tab-pane">
    <!-- Content for the "Import" tab goes here -->
    <h1>Import</h1>

    <h2>Upload Input CSV File</h2>
  <form action="{{ url_for('upload_csv') }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="csv-file">CSV File</label>
      <input type="file" class="form-control-file" id="csv-file" name="csv-file" accept=".csv">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>

  </div>
  <div id="export" class="tab-pane">
    <!-- Content for the "Export" tab goes here -->
    <h1>Export</h1>
  </div>
</div>

<!-- For delete function confirmation -->

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this question?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('delete_mc_question', question_id='') }}" method="POST">
          <input type="hidden" id="deleteQuestionId" name="question_id" value="">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}