{% set active_page = "assessments" %}
{% extends "base.html" %}
{% block content %}

<div class="btn ">
    <a href="{{url_for('template_select', template_id=template.id, course_id=course.id )}}">< Template Selection for New Assessment of {{course.number}} - {{ course.name }}</a>
</div>
<div class="template-container">
    <h1>Assessment Template Overview </h1>
    <div>Assessment: {{ template.name }}</div>
    <div>Creator: {{ template.creator.user.firstname }} {{template.creator.user.lastname}} </div>
    <div>Created: {{ template.created_at }}</div>
    <div>Description: {{ template.description }} </div>
    <div>Can Retake: {{ template.can_retake }} </div>
    <div>Limit Time: {{ template.limit_time }} </div>
    <div>Difficulty: {{ template.difficulty.level }} </div>
    <div>Tag: {{ template.tags[0].tag }} </div>
    <div>No. of Questions: {{ template.mc_questions|length + template.st_questions|length }} ({{template.mc_questions|length}}MCQ + {{template.st_questions|length}}SQ) </div>
    <div>Full Marks: {{ template.total_marks }}</div>
    <div>Questions are Confirmed: {{ template.is_confirmed }}</div>
    <div class="btn btn-info">
        <a href="{{url_for('template_edit', template_id=template.id, course_id=course.id )}}">Edit</a>
    </div>
    <div class="btn btn-info">
        <a href="{{url_for('assessment_new', template_id=template.id, course_id=course.id )}}">Select Template</a>
    </div>
</div>
<div class="questions-container">
    <br>
    <div class="d-flex flex-row">
        <h3>Multiple Choice Questions:</h3>
        {% if not template.is_confirmed %}
            <div class="ml-3 btn btn-info">
                <a href="{{url_for('template_edit_multiple_choice_question_new', template_id=template.id, course_id=course.id)}}">Add MC Question</a>
            </div>
        {% endif %}
    </div>
    {% if template.mc_questions == [] %}
        <div>No Multiple Choice Question yet</div>
    {% else %}
        {% for question in template.mc_questions %}
            <div class="card card-body">
                <div class="d-flex flex-row">
                    <div><b>Multiple Choice Q{{ loop.index }}</b> ({{question.marks}} marks)</div>
                    {% if not template.is_confirmed %}
                        <form method="POST" action="{{ url_for('template_edit_multiple_choice_question_delete', question_id=question.id, template_id=template.id, course_id=course.id) }}">
                            <button class="ml-3 btn-info" type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
                <div>{{ question.question }} </div>
                <div>Correct Choice: {{ mc_id_char[question.correct_choice_id] }}</div>
                <ol type="A">
                    <li>
                        <div>{{ question.choice_1 }}</div>
                        <div>Feedback: {{ question.choice_feedback_1 }}</div>
                    </li>
                    <li>
                        <div>{{ question.choice_2 }}</div>
                        <div>Feedback: {{ question.choice_feedback_2 }}</div>
                    </li>
                    <li>
                        <div>{{ question.choice_3 }}</div>
                        <div>Feedback: {{ question.choice_feedback_3 }}</div>
                    </li>
                    <li>
                        <div>{{ question.choice_4 }}</div>
                        <div>Feedback: {{ question.choice_feedback_4 }}</div>
                    </li>
                </ol>
            </div>
        {% endfor %}
    {% endif %}
    <div class="short-questions">
        <div class="d-flex flex-row">
            <h3>Short Questions:</h3>
            {% if not template.is_confirmed %}
                <div class="ml-3 btn btn-info">
                    <a href="{{url_for('template_edit_short_question_new', template_id=template.id, course_id=course.id)}}">Add Short Question</a>
                </div>
            {% endif %}
        </div>
        {% if template.st_questions == [] %}
            <div>No Short Question yet</div>
        {% else %}
            {% for question in template.st_questions %}
                <div class="card card-body">
                    <div class="d-flex flex-row">
                    <div><b>Short Q{{ loop.index }}</b> ({{question.marks}} marks)</div>
                        {% if not template.is_confirmed %}
                            <form method="POST" action="{{ url_for('template_edit_short_question_delete', question_id=question.id, template_id=template.id, course_id=course.id) }}">
                                <button class="ml-3 btn-info" type="submit">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class="question-container">
                        <div>{{ question.question }} </div>
                        <div>Correct Answer: {{ question.correct_ans }} </div>
                        <div>Feedback(Correct): {{ question.feedback_correct }}</div>
                        <div>Feedback(Wrong): {{ question.feedback_wrong }} </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if not template.is_confirmed %}
        <form method="POST" action="{{url_for('template_confirm', template_id=template.id, course_id=course.id)}}">
            <button class="btn btn-info" type="submit">Confirm Questions</button>
        </form>
    {% endif %}
</div>
{% endblock content %}
