{% set active_page = "assessments" %}
{% extends "base.html" %}
{% block content %}
<div class="new-template">
    <div class="secondary-title">Edit Assessment Template</div>
    <div>Creator: {{ template.creator.user.firstname }} {{ template.creator.user.lastname }}</div>
    <div>Created: {{template.created_at}}</div>
    <form method="POST" action="">
        {{form.csrf_token}}
        <p>
            <div>{{ form.name.label }}</div>
            <div>{{ form.name(value=template.name) }}</div>

        </p>
        <p>
            <div>{{ form.description.label }} </div>
            <div>{{ form.description(value=template.description) }}</div>
        </p>
        <p>
            <div>{{ form.can_retake.label }} </div>
            <div>{{ form.can_retake(checked=template.can_retake) }}</div>
        </p>
        <p>
            <div>{{ form.limit_time.label }} </div>
            <div>{{ form.limit_time(checked=template.limit_time) }}</div>
        </p>
        <p>
            <div>{{ form.duration.label }} </div>
            <div>{{ form.duration(value=template.duration) }}</div>
        </p>
         <p>
            <div>{{ form.difficulty_id.label }} </div>
            <div>{{ form.difficulty_id(value=template.difficulty.id) }}</div>
        </p>
         <p>
            <div>{{ form.tag_id.label }} </div>
            <div>{{ form.tag_id(value=template.tags[0].id) }}</div>
        </p>
        {# <p>{{form.submit}}</p> #}
        <p><input class="btn btn-info" type="submit" value="Save"></p>
    </form>
</div>
{% endblock content %}
