{% set active_page = "assessments" %} {% extends "base.html" %} {% block content %}
<div class="outer-container">
    <div class="btn ">
        <a href="{{url_for('course', course_id=course.id )}}">< {{course.number}} - {{ course.name }}</a>
    </div>
    <h1>Select an Assessment Template</h1>
    <div class="inner-container">
        {% if templates == [] %}
            <div>No Assessment Template yet</div>
            {% else %}
            {# <h2>Assessment Templates:</h2> #}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category Tag</th>
                        <th>Difficulty</th>
                        <th>Created at</th>
                        <th>Created by</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                {% for template in templates %}
                <tr>
                    <td>{{ template.name }}</td>
                    <td>{{ template.tags[0].tag }}</td>
                    <td>{{ template.difficulty.level }}</td>
                    <td>{{template.created_at.date()}}</td>
                    <td>{{ template.creator.user.firstname}} {{template.creator.user.lastname}}</td>
                    <td>
                        <a href="{{url_for('assessment_new', template_id=template.id, course_id=course.id)}}">Select</a>
                        <a href="{{url_for('template', template_id=template.id, course_id=course.id)}}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <div class="new-template btn btn-info">
            <a href="{{url_for('template_new', course_id=course.id)}}">New Template</a>
        </div>
    </div>
</div>

{% endblock content %}